<div class="root" [style.fontSize]="wordSize">root</div>
<div class="card">
    <div class="card-header" style="border: solid 1px rgb(221, 144, 0);">
        <div style="margin-top: 10px;">
            <app-header></app-header>
        </div>
<div style="display: flex; justify-content: center; justify-content: space-between;">
<div style="float: left; margin-left: 100px;">
    <app-shopping-list1></app-shopping-list1>
</div>
<div style="float: right; margin-right: 100px;">
    <app-recipe></app-recipe>
</div>
</div>



<div style="display: flex; justify-content: center; justify-content: space-between;">
    <div style="float: left; margin-left: 100px;">
        <app-shopping-list1></app-shopping-list1>
    </div>
    <div style="float: right; margin-right: 100px;">
        <app-recipe></app-recipe>
    </div>
    </div>

    <div style="display: flex; justify-content: center; justify-content: space-between;">
        <div style="float: left; margin-left: 100px;">
            <app-shopping-list1></app-shopping-list1>
        </div>
        <div style="float: right; margin-right: 100px;">
            <app-recipe></app-recipe>
        </div>
        </div>

        <div style="display: flex; justify-content: center; justify-content: space-between;">
            <div style="float: left; margin-left: 100px;">
                <app-shopping-list1></app-shopping-list1>
            </div>
            <div style="float: right; margin-right: 100px;">
                <app-recipe></app-recipe>
            </div>
            </div>

<div style="display: flex; justify-content: center; justify-content: space-between;">
<div style="float: left; margin-left: 100px;">
    <app-shopping-list1></app-shopping-list1>
</div>
<div style="float: right; margin-right: 100px;">
    <app-recipe></app-recipe>
</div>
</div>




